<html>
    <head>
        <title>🪖승톡🪖</title>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            var socket;
            $(document).ready(function(){
                socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
                socket.on('connect', function() {
                    socket.emit('joined', {});
                });
                socket.on('status', function(data) {
                    $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });
                socket.on('message', function(data) {
                    $('#chat').val($('#chat').val() + data.msg + '\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });
                $('#text').keypress(function(e) {
                    var code = e.keyCode || e.which;
                    if (code == 13) {
                        text = $('#text').val();
                        $('#text').val('');
                        socket.emit('text', {msg: text});
                    }
                });
            });
            function leave_room() {
                socket.emit('left', {}, function() {
                    socket.disconnect();

                    // go back to the login page
                    window.location.href = "{{ url_for('main.index') }}";
                });
            }
            function assemble() {
                console.log("assemble!")
                fetch("https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=cae1a8ccc8ff1c90e54fcfac9c0b149d&redirect_uri=https://localhost:5001").then((response) =>
                    console.log(response)
                    );
            }
        </script>
    </head>
    <body>
        <h1>현재 채팅방: {{ room }}</h1>
        <textarea id="chat" cols="80" rows="20"></textarea><br><br>
        {{ name }} <input id="text" size="80" placeholder="메시지를 입력해보세요!"><br><br>
        <a href="#" onclick="leave_room();">채팅방 나가기</a>
        <a href="/assemble">어셈블</a>
    </body>
</html>
